*{
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

/* Universal Selectors end here */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    background-color: rgb(166, 167, 169);
    display: flex;
    flex-direction: column;
}

.topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(9, 1, 81);
    padding: 10px;
    border-radius: 10px;
    color: white;
}


.menuItem{
    display: flex;
    font-size: 1rem;
}

.menuItem button {
    border: none;
    margin: 0 auto;
    padding: 3px 10px;
    font-size: 1.2rem;
    margin-right: 10px;
}

.menuItem button:hover{
    background-color: rgb(166, 166, 170);
}

#guessesLeft {
    font-size: 2rem;
}

.title h2 {
    margin: 0;
    font-size: 1.5rem;
}

.helpWrap button {
    border: none;
    padding: 4px 10px;
    font-size: 1.2rem;
}

.helpWrap button:hover{
    background-color: rgb(166, 166, 170);
}
/* Header ends here */

.helpDisplay{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin: 1.2rem auto;
    max-width: 720px;
    border: 0.5px solid gray;
    background-color: white;
    height: 540px;
    border-radius: 18px;
}

.helpDisplay .topHalf{
    display: flex;
    margin: 20px auto;
}

.helpDisplay .topHalf .rightSide{
    margin: 0 10%;
}

.helpDisplay .topHalf .rightSide .cancelBtn{
    background-color: rgb(225, 78, 78);
}

.helpDisplay .topHalf .rightSide .cancelBtn:hover{
    background-color: rgb(246, 9, 9);
}

.helpDisplay .instructionWrap{
    margin: 10px  auto;
}

.helpDisplay .lowerHalf{
    margin: 20px auto;
}

.helpDisplay .lowerHalf .secondRow{
    margin: 20px auto;
}

.helpDisplay .lowerHalf input{
    width: 50px;
    height: 50px;
    padding: 6%;
    border: 0.5px solid gray;
}

.helpDisplay .lowerHalf p{
    margin: 10px auto;
    font-size: 20px;
    font-weight: 600;
}

.helpDisplay .lowerHalf p span{
    font-size: 16px;
    font-weight: 500;
}
/* Instruction form runs from line 51 to 109 */

.playWrapper {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.restartBtn {
    background-color: #0f1f30;
    color: white;
    font-size: 1.2rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

.restartBtn:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.lowerWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.displayScreen {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: auto;
    background-color: #E6E6E6;
    padding: 20px;
    border-radius: 10px;
    margin: 10px auto;
    gap: 0.3rem;
}

.firstInputRow{
    display: flex;
    margin: 0 auto;
}
  
.secondInputRow{
    display: flex;
    margin: 0 auto;
}

.thirdInputRow{
    display: flex;
    margin: 0 auto;
}

.fourthInputRow{
    display: flex;
    margin: 0 auto;
}

.fifthInputRow{
    display: flex;
    margin: 0 auto;
}

.sixthInputRow{
    display: flex;
    margin: 0 auto;
}

.input {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #333;
    margin: 6px auto;
    text-align: center;
    font-size: 2rem;
    min-width: 30px;
    min-height: 30px;
}


/* Lower wrapper class keyboard begins here */
.keyboard {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    background-color: transparent;
    margin: 1.2rem auto;
}

/* Lower wrapper containing inner elements */

.firstBtnRow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.secondBtnRow{
    display: flex;
    /* margin-left: 40px; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.thirdBtnRow{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.normalBtn, .normalBtnTwo {
    width: 50px;
    height: 50px;
    background-color: #E6E6E6;
    border: 2px solid #333;
    border-radius: 30%;
    margin: 10px;
    font-size: 2rem;
    color: #333;
}


.normalBtn, .normalBtnTwo:hover{
    background-color: white;
}

.hidden {
    width: 100%;
    display: none;
    margin-top: 30px;
}
/* Lower wrapper from line 132 to 148 */

/* Lower wrapper .keyboard second child from line 151 to 167 */

.lowerWrapper .keyboard .thirdBtnRow .specialBtn{
    padding: 3px 6px;
    border-radius: 8px;
    background-color: rgb(51, 67, 171);
    border: 0.5px solid gray;
    color: white;
}

.lowerWrapper .keyboard .thirdBtnRow .specialBtn:hover{
    background-color: rgb(25, 122, 36);
}

.lowerWrapper .keyboard .thirdBtnRow #keyboardCancelBtn:hover{
    background-color: rgb(228, 11, 11);
}

/* Lower wrapper .keyboard third child runs from line 170 to 204*/

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid rgb(177, 177, 177);
    border-bottom: 16px solid rgb(177, 177, 177);
    border-left: 16px solid #242424;
    border-right: 16px solid #242424;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 15s linear infinite;
    position: fixed;
    top: 46%;
    left: 48%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    display: none;
}
   
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


  @media only screen and (max-width: 768px) {
    /* Top bar styles */
    .topBar {
        flex-wrap: wrap;
    }

    .title h2 {
        font-size: 2rem;
    }

    /* Play wrapper styles */
    .playWrapper {
        flex-direction: column;
        align-items: center;
    }

    /* Lower wrapper styles */

    .hidden {
        display: flex;
        flex-direction: column;
    }

    .firstBtnHide, .secondBtnHide, .thirdBtnHide {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

}